@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;1,300&display=swap');

* {font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: #620a74;

}

#container {
    display: flex;
    align-items: center;
    gap: 3.5rem;
}

#calculadora {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
    color: #e5e5e5;
    background-color: #191919;
    border-radius: 8px;
}

#form {
   display: flex;
   flex-direction: column;
   gap: 2rem;
   
    
}

.input-box label {
    font-size: 1.1rem;
    color: #e5e5e5;
    font-weight: 500;

}

.input-field {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: aliceblue;
    padding: 0.3rem;
    border-radius: 3px;
    margin-top: 3px;

}

.input-field span,
.input field i {
    color: aliceblue;
    font-size: 1.3rem;
    padding: 0.6rem 1rem;

}

.input field input {
    background-color: transparent;
    border: none;
    width: 100%;
    font-size: 1.3rem;
    color: #e5e5e5;
}

.input field input::-webkit ::-webkit-outer-spin-button,
.input field input::-webkit ::-webkit-inner-spin-button {
    appearance: none;
}

.input field input:focus {
    outline: none;
}

#display {
    border: none;
    font-size: 1.25;
    font-weight: bold;
    background-color: #e5e5e5;
    
    }

    #result {
        display: flex;
        gap: 2rem;
        align-items: center;
        border-top: 1px solid #191919;
        padding: 0.75rem 0;
    }

    #calculo {
        display: flex;
        align-items: center;
        flex-direction: column;
        font-size: 2.25rem;
    }